# Ignorar dependencias de Flutter
flutter_front/build/
flutter_front/.dart_tool/
flutter_front/.packages

# Ignorar archivos de Django
back_django/.env

# Ignorar configuración de usuario en VS Code
.vscode/
.venv/
